
* {
 /* border: 1px black solid;     */
 font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
}

.bodyContainer{
    border: 1px solid black;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height:600px;
    flex-wrap: wrap;
    background-color: white;
}

#bezel {
    background-color:rgb(190, 59, 85);
    width: 900px;
    height: 900px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    font-size: 3em;
    color:white;
}

button {
    background-color: white;
    color:black;
    width: 100px;
    height: 40px;
    gap:40px;
    border-radius: 10px;
    font-size: .5em;
}

.button-container{
    height:50px;
    width:500px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 25px;

}

label{
    font-size: .5em;
}

